<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutenticacion" />
                <binding name="BasicHttpBinding_IEquipos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49403/Autenticacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion"
                contract="autenticacionWS.IAutenticacion" name="BasicHttpBinding_IAutenticacion" />
            <endpoint address="http://localhost:49403/Equipos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEquipos" contract="equiposWS.IEquipos"
                name="BasicHttpBinding_IEquipos" />
        </client>
    </system.serviceModel>
</configuration>